@model MakeMoreInternational.Models.ProductMaster
@{
    ViewData["Title"] = "Contact us";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var siteinfo = ViewBag.WebSetting as WebSettingMaster;
}

<section class="breadcrumb-block">
    <div class="container-fluid">
        <div class="product-banner row overflow-hidden">
            <div class="product-title col-md-5 col-12" style="">
                <div class="category-title">
                    <h1>Contact us</h1>
                </div>
                <div class="category-desc">
                    <!-- <p>Turn up the heat and ignite your taste budswith the fiery kick of chilli !</p> -->
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="/" class="text-warning">HOME</a></li>
                        <li class="breadcrumb-item text-light">CONTACT US</li>
                    </ol>
                </div>
            </div>
            <div class="product-category-banner col-md-7 col-12 px-0 position-relative">
                <span></span>
                <div class="product-category-img-banner">
                    <!-- <img src="https://koreagro.com/images/spices-banner.jpg" class="img-fluid"> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact section -->
<section class="contact-section">
<div class="container">
    <div class="row g-4 f-row">
        <!-- Left Contact Info Box -->
        <div class="col-lg-4">
            <div class="info-box">
                <h4 class="text-theme">Contact Information</h4>

                <div class="info-item d-flex align-items-center gap-2 mt-4">
                    <div class="icon flex-shrink-0">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <span>@siteinfo.wsmAddress</span>
                </div>
                <div class="info-item d-flex align-items-center gap-2 mt-3">
                    <div class="icon flex-shrink-0">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <span>@siteinfo.wsmEmail</span>
                </div>
                <div class="info-item d-flex align-items-center gap-2 mt-3">
                    <div class="icon flex-shrink-0">
                        <i class="fas fa-phone"></i>
                    </div>
                    <span>@siteinfo.wsmContact</span>
                </div>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d217.29545395280425!2d72.35326813818445!3d23.615316665730663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c43c218b01a85%3A0x3cca837aa5bb4621!2sBest%20Voyage%20Pvt%20Ltd.!5e1!3m2!1sen!2sin!4v1751619732242!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <!-- Right Contact Form Box -->
        <div class="col-lg-8">
            <div class="contact-box">
                <h4 class="mb-4 text-theme">Send Us a Message</h4>
                <form>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" required>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Email Id</label>
                            <input type="email" class="form-control" required>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Contact Number</label>
                            <input type="text" class="form-control" required>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Message</label>
                            <textarea class="form-control" rows="5" required></textarea>
                        </div>
                        <div class="col-md-12 text-end">
                            <button type="submit" class="btn rounded-pill text-white px-4 py-2 mt-3 btn-theme">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
</section>