@model MakeMoreInternational.Models.HarvestCategoryMaster
@{
    ViewData["Title"] = (Model.hcatId == null) ? "Add Category" : "Edit Category";
    Layout = "~/Areas/ho/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid p-0">
    <h1 class="h3 mb-3 fw-bold">@ViewData["Title"]</h1>

    <form asp-action="@(Model.hcatId == null ? "Create" : "Edit")"
          asp-route-id="@Model.hcatId"
          asp-area="ho" asp-controller="HarvestCategory" method="post" class="form-box">
        @Html.AntiForgeryToken()

        <div class="mb-3">
            <label asp-for="hcatName" class="form-label"></label>
            <input asp-for="hcatName" class="form-control" />
            <span asp-validation-for="hcatName" class="text-danger"></span>
        </div>

       

       

        <div class="mb-3">
            <label asp-for="hcatStatus" class="form-label"></label>
            <select asp-for="hcatStatus" class="form-control">
                <option value="true">Active</option>
                <option value="false">Inactive</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
