@model List<HarvestCategoryMaster>

<li class="nav-item">
    <a class="nav-link" href="#" id="harvestMenu"
       role="button" data-bs-toggle="dropdown" aria-expanded="false">
        HARVEST CHART <i class="fa-solid fa-chevron-down small chev-icon"></i>
    </a>

    <ul class="htmlCss-sub-menu sub-menu nav" aria-labelledby="harvestMenu">
        @foreach (var cat in Model)
        {
            <li class="more">
                <a class=""
                   href="/harvest-chart/@cat.hcatSlug">
                    @cat.hcatName
                </a>
            </li>
        }
    </ul>
</li>
