
@{
    ViewData["Title"] = "Teams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumb-block">
    <div class="container-fluid">
        <div class="product-banner row overflow-hidden">
            <div class="product-title col-md-5 col-12" style="">
                <div class="category-title">
                    <h1>Teams</h1>
                </div>
                <div class="category-desc">
                    <!-- <p>Turn up the heat and ignite your taste budswith the fiery kick of chilli !</p> -->
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="/" class="text-warning">HOME</a></li>
                        <li class="breadcrumb-item text-light">TEAMS</li>
                    </ol>
                </div>
            </div>
            <div class="product-category-banner col-md-7 col-12 px-0 position-relative">
                <span></span>
                <div class="product-category-img-banner">
                    <!-- <img src="https://koreagro.com/images/spices-banner.jpg" class="img-fluid"> -->
                </div>
            </div>
        </div>
    </div>
</section>


<section class="our-teams py-5">
    <div class="container">
        <div class="row justify-content-center mb-md-4 mb-2 row-gap-2">
            <div class="col-md-4">
                <div class="team-box bg-white position-relative overflow-hidden rounded">
                    <img src="https://koreagro.com/images/team/Mrvinayjain.webp" class="img-fluid" alt="user-img">
                    <div class="overlay-info">
                        <div class="team-name">
                            <h4 class="text-white mb-1">VINAY JAIN</h4>
                            <h6 class="text-white-70">Director</h6>
                        </div>
                        <div class="social-block pb-2">
                            <a href="tel:+91-98765-43210"><i class="fas fa-phone-alt" target="_blank"></i></a>
                            <a href="mailto:abcd@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-box bg-white position-relative overflow-hidden rounded">
                    <img src="https://koreagro.com/images/team/mrpratikjain.webp" class="img-fluid" alt="user-img">
                    <div class="overlay-info">
                        <div class="team-name">
                            <h4 class="text-white mb-1">PRATIK JAIN</h4>
                            <h6 class="text-white-70">Director</h6>
                        </div>
                        <div class="social-block pb-2">
                            <a href="tel:+91-98765-43210"><i class="fas fa-phone-alt" target="_blank"></i></a>
                            <a href="mailto:abcd@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row justify-content-center  row-gap-2">
            <div class="col-md-3">
                <div class="team-box bg-white position-relative overflow-hidden rounded">
                    <img src="https://koreagro.com/images/team/Mrvinayjain.webp" class="img-fluid" alt="user-img">
                    <div class="overlay-info">
                        <div class="team-name">
                            <h5 class="text-white mb-1">VINAY JAIN</h5>
                            <h6 class="text-white-70">Director</h6>
                        </div>
                        <div class="social-block pb-2">
                            <a href="tel:+91-98765-43210"><i class="fas fa-phone-alt" target="_blank"></i></a>
                            <a href="mailto:abcd@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-box bg-white position-relative overflow-hidden rounded">
                    <img src="https://koreagro.com/images/team/mrpratikjain.webp" class="img-fluid" alt="user-img">
                    <div class="overlay-info">
                        <div class="team-name">
                            <h5 class="text-white mb-1">PRATIK JAIN</h5>
                            <h6 class="text-white-70">Director</h6>
                        </div>
                        <div class="social-block pb-2">
                            <a href="tel:+91-98765-43210"><i class="fas fa-phone-alt" target="_blank"></i></a>
                            <a href="mailto:abcd@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-box bg-white position-relative overflow-hidden rounded">
                    <img src="https://koreagro.com/images/team/Mrvinayjain.webp" class="img-fluid" alt="user-img">
                    <div class="overlay-info">
                        <div class="team-name">
                            <h5 class="text-white mb-1">VINAY JAIN</h5>
                            <h6 class="text-white-70">Director</h6>
                        </div>
                        <div class="social-block pb-2">
                            <a href="tel:+91-98765-43210"><i class="fas fa-phone-alt" target="_blank"></i></a>
                            <a href="mailto:abcd@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-box bg-white position-relative overflow-hidden rounded">
                    <img src="https://koreagro.com/images/team/mrpratikjain.webp" class="img-fluid" alt="user-img">
                    <div class="overlay-info">
                        <div class="team-name">
                            <h5 class="text-white mb-1">PRATIK JAIN</h5>
                            <h6 class="text-white-70">Director</h6>
                        </div>
                        <div class="social-block pb-2">
                            <a href="tel:+91-98765-43210"><i class="fas fa-phone-alt" target="_blank"></i></a>
                            <a href="mailto:abcd@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


