@model MakeMoreInternational.Models.ProductMaster
@{
    ViewData["Title"] = "Blogs";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="breadcrumb-block">
    <div class="container-fluid">
        <div class="product-banner row overflow-hidden">
            <div class="product-title col-md-5 col-12" style="">
                <div class="category-title">
                    <h1>Blogs</h1>
                </div>
                <div class="category-desc">
                    <!-- <p>Turn up the heat and ignite your taste budswith the fiery kick of chilli !</p> -->
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="/" class="text-warning">HOME</a></li>
                        <li class="breadcrumb-item text-light">BLOGS</li>
                    </ol>
                </div>
            </div>
            <div class="product-category-banner col-md-7 col-12 px-0 position-relative">
                <span></span>
                <div class="product-category-img-banner">
                    <!-- <img src="https://koreagro.com/images/spices-banner.jpg" class="img-fluid"> -->
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Blog section -->
<section class="blogs py-5">
    <div class="container">
        <div class="row row-gap-3">
            <!-- Blog Card 1 -->
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 shadow border-0">
                    <img src="~/web/Images/about.png" class="card-img-top" alt="Blog Image">
                    <div class="card-body">
                        <h5 class="card-title">How to Grow Organic Spices</h5>
                        <p class="card-text text-secondary">
                            Learn the techniques and benefits of cultivating organic
                            spices at home
                            or commercially.
                        </p>
                        <a href="/" class="btn btn-theme text-white rounded-pill px-3">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Blog Card 2 -->
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 shadow border-0">
                    <img src="~/web/Images/chilli-harvesting.jpg" class="card-img-top" alt="Blog Image">
                    <div class="card-body">
                        <h5 class="card-title">Exporting Spices Globally</h5>
                        <p class="card-text text-secondary">
                            Tips and legal requirements for exporting Indian spices
                            to
                            international markets.
                        </p>
                        <a href="/" class="btn btn-theme text-white rounded-pill px-3">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Blog Card 3 -->
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 shadow border-0">
                    <img src="~/web/Images/about.png" class="card-img-top" alt="Blog Image">
                    <div class="card-body">
                        <h5 class="card-title">Top 5 Healthy Spices</h5>
                        <p class="card-text text-secondary">
                            Discover the health benefits of turmeric, black pepper,
                            cumin, and
                            other powerful spices.
                        </p>
                        <a href="/" class="btn btn-theme text-white rounded-pill px-3">Read More</a>
                    </div>
                </div>
            </div>
            <!-- Blog Card 1 -->
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 shadow border-0">
                    <img src="~/web/Images/about.png" class="card-img-top" alt="Blog Image">
                    <div class="card-body">
                        <h5 class="card-title">How to Grow Organic Spices</h5>
                        <p class="card-text text-secondary">
                            Learn the techniques and benefits of cultivating organic
                            spices at home
                            or commercially.
                        </p>
                        <a href="/" class="btn btn-theme text-white rounded-pill px-3">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Blog Card 2 -->
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 shadow border-0">
                    <img src="~/web/Images/about.png" class="card-img-top" alt="Blog Image">
                    <div class="card-body">
                        <h5 class="card-title">Exporting Spices Globally</h5>
                        <p class="card-text text-secondary">
                            Tips and legal requirements for exporting Indian spices
                            to
                            international markets.
                        </p>
                        <a href="/" class="btn btn-theme text-white rounded-pill px-3">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Blog Card 3 -->
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 shadow border-0">
                    <img src="~/web/Images/about.png" class="card-img-top" alt="Blog Image">
                    <div class="card-body">
                        <h5 class="card-title">Top 5 Healthy Spices</h5>
                        <p class="card-text text-secondary">
                            Discover the health benefits of turmeric, black pepper,
                            cumin, and
                            other powerful spices.
                        </p>
                        <a href="/" class="btn btn-theme text-white rounded-pill px-3">Read More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>