@model MakeMoreInternational.Models.ProductMaster
@{
    ViewData["Title"] = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="">
    <div class="container-fluid">
        <div class="product-banner row overflow-hidden">
            <div class="product-title col-md-5 col-12" style="background-color: #052e2699;">
                <div class="category-title">
                    <h1>Red Chilli Whole</h1>
                </div>
                <div class="category-desc">
                    <p>Turn up the heat and ignite your taste budswith the fiery kick of chilli !</p>
                </div>
            </div>
            <div class="product-category-banner col-md-7 col-12 px-0 position-relative">
                <div class="product-category-img-banner">
                    <!-- <img src="https://koreagro.com/images/spices-banner.jpg" class="img-fluid"> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="product-section d-flex">
    <div class="product-banner justify-content-center align-items-center d-block">
        <h2 class="text-white text-center display-4 d-block banner-txt">Red Chilli Whole</h2>
        <p class="text-center text-white">Turn up the heat and ignite your taste budswith the fiery kick of chilli !
        </p>
    </div>
    <div class="product-banner-img">
        <div></div>

    </div>
</section> -->
<!------ Product start ------>

<div class="sub_products py-5">
    <div class="container">
        <div class="row">
            <div class="product-category d-flex">
                <div class="col-md-5">
                    <div class="product-chilli">
                        <img src="Images/whole-chilli.jpg" class="img-fluid img-thumbnail" alt="">
                    </div>
                </div>
                <div class="col-md-7">
                    <h2 class="mb-2 fw-bold">Red Chilli Whole</h2>
                    <h5 class="fw-bold product-txt mb-3">Product Details</h5>
                    <ul class="list-unstyled d-flex flex-column row-gap-3 mb-3">
                        <li>
                            <i class="fa-regular fa-circle-check text-theme"></i> <b>Product Name :</b> Red Chilli
                            Whole
                        </li>
                        <li>
                            <i class="fa-regular fa-circle-check text-theme"></i> <b>Botanical Name :</b> Red Chilli
                            Whole Powder
                        </li>
                        <li><i class="fa-regular fa-circle-check text-theme"></i> <b>Origin :</b> India</li>
                        <li>
                            <i class="fa-regular fa-circle-check text-theme"></i> <b>Firm :</b> Red Chilli Whole
                        </li>
                        <li><i class="fa-regular fa-circle-check text-theme"></i> <b>Color :</b> Red</li>
                        <li>
                            <i class="fa-regular fa-circle-check text-theme"></i> <b>Skin :</b> Red Chilli Whole
                        </li>
                    </ul>
                    <h5 class="fw-bold product-txt mb-3">Varities</h5>
                    <ul class="list-unstyled d-flex flex-column row-gap-3 mb-3 text-black-85">
                        <li>
                            <i class="fa-regular fa-circle-check text-theme"></i> S17 Teja Chilli (High pungency,
                            bright red color)
                        </li>
                        <li>
                            <i class="fa-regular fa-circle-check text-theme"></i> Sanam Chilli (334) (Moderate
                            pungency, deep red color)
                        </li>
                        <li>
                            <i class="fa-regular fa-circle-check text-theme"></i> Byadgi Chilli (Mild pungency, rich
                            red color, high oil content)
                        </li>
                        <li><i class="fa-regular fa-circle-check text-theme"></i> Wonder Hot Chilli</li>
                        <li>
                            <i class="fa-regular fa-circle-check text-theme"></i> Others : Guntur Chilli, 273
                            Wrinkle, 341, etc.
                        </li>
                    </ul>


                    <button class="btn btn-theme px-4 text-white rounded-pill shadow">Inquiry Now</button>
                   
                </div>
            </div>
        </div>
    </div>
</div>


<!------ Physical Spacification ------>


<div class="specifications py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card border-0 shadow-lg">
                    <div class="card-header py-3 bg-white">
                        <h4 class="product-txt mb-0">Physical Spacification</h4>
                    </div>
                    <div class="table-responsive rounded-3">
                        <table class="table mb-0 rounded-3">
                            <tr>
                                <th style="background-color: #0B534508;">Parameter</th>
                                <th>Range/Specification</th>
                            </tr>
                            <tr>
                                <td>Color</td>
                                <td>Bright red, deep red (variety-specific)</td>
                            </tr>
                            <tr>
                                <td>Pungency (SHU)</td>
                                <td>15,000 to 100,000 SHU (variety-dependent)</td>
                            </tr>
                            <tr>
                                <td>Moisture Content</td>
                                <td>8-12% max</td>
                            </tr>
                            <tr>
                                <td>Skin</td>
                                <td>Smooth or wrinkled</td>
                            </tr>
                            <tr>
                                <td>Foreign Matter </td>
                                <td>1-2% max</td>
                            </tr>
                            <tr>
                                <td>Broken Chilli</td>
                                <td>1-2% max</td>
                            </tr>
                            <tr>
                                <td>Loose Seeds</td>
                                <td>1-2% max</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-0 shadow-lg">
                    <div class="card-header py-3 bg-white">
                        <h4 class="product-txt mb-0">Chemical Specifications</h4>
                    </div>
                    <div class="table-responsive rounded-3">
                        <table class="table mb-0 rounded-3">
                            <tr>
                                <th style="background-color: #0B534508;">Parameter</th>
                                <th>Range/Specification</th>
                            </tr>
                            <tr>
                                <td>Capsaicin Content</td>
                                <td>0.2% to 0.5%</td>
                            </tr>
                            <tr>
                                <td>Aflatoxin Level</td>
                                <td>Below 5-10 ppb (As per EU standards)</td>
                            </tr>
                            <tr>
                                <td>Total Ash</td>
                                <td>6-8% max</td>
                            </tr>
                            <tr>
                                <td>Non-volatile Ether Extract</td>
                                <td>10-12%</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!------ Chemical Specifications ------>
<!-- <div class="chemical py-5">
    <div class="container">
        <div class="row">
            <h2 class="product-txt">Chemical Specifications</h2>
            <div class="table-responsive">
                <table class="table table-bordered mt-3">
                    <tr>
                        <th>Parameter</th>
                        <th>Range/Specification</th>
                    </tr>
                    <tr>
                        <td>Capsaicin Content</td>
                        <td>0.2% to 0.5%</td>
                    </tr>
                    <tr>
                        <td>Aflatoxin Level</td>
                        <td>Below 5-10 ppb (As per EU standards)</td>
                    </tr>
                    <tr>
                        <td>Total Ash</td>
                        <td>6-8% max</td>
                    </tr>
                    <tr>
                        <td>Non-volatile Ether Extract</td>
                        <td>10-12%</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div> -->
<!------ Related Products ------>

<div class="related-products py-5">
    <div class="container">
        <h2 class="product-txt">Related Products</h2>
        <div class="owl-carousel owl-theme mt-4">
            <div class="">
                <div class="card border-0">
                    <img src="Images/download.jpg" class="rounded img-fluid" alt="">
                    <div class="card-title">
                        Whole chilli
                    </div>
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
            <div class="">
                <div class="card border-0">
                    <img src="Images/images.jpg" class="rounded img-fluid" alt="">
                    <div class="card-title">
                        Cumin Seeds
                    </div>
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
            <div class="">
                <div class="card order-0">
                    <img src="Images/download (2).jpg" class="rounded img-fluid" alt="">
                    <div class="card-title">
                        Nutmeg Whole
                    </div>
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
            <div class="">
                <div class="card border-0">
                    <img src="Images/90855769.avif" class="rounded img-fluid" alt="">
                    <div class="card-title">
                        Turmeric finger
                    </div>
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>


