@model MakeMoreInternational.Models.ProductMaster
@{
    ViewData["Title"] = "Inquiry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="breadcrumb-block">
    <div class="container-fluid">
        <div class="product-banner row overflow-hidden">
            <div class="product-title col-md-5 col-12" style="">
                <div class="category-title">
                    <h1>Inquiry</h1>
                </div>
                <div class="category-desc">
                    <!-- <p>Turn up the heat and ignite your taste budswith the fiery kick of chilli !</p> -->
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="/" class="text-warning">HOME</a></li>
                        <li class="breadcrumb-item text-light">INQUIRY</li>
                    </ol>
                </div>
            </div>
            <div class="product-category-banner col-md-7 col-12 px-0 position-relative">
                <span></span>
                <div class="product-category-img-banner">
                    <!-- <img src="https://koreagro.com/images/spices-banner.jpg" class="img-fluid"> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Inquiry section -->

<section class="inquiry py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="top-block mb-5">
                    <ul class="list-unstyled">
                        <li>
                            <img src="~/web/Images/spices.jpg" alt="">
                        </li>
                        <li>
                            <img src="~/web/Images/herbs.jpg" alt="">
                        </li>
                        <li>
                            <img src="~/web/Images/coconutproducts.jpg" alt="">
                        </li>
                        <li>
                            <img src="~/web/Images/spices.jpg" alt="">
                        </li>
                        <li>
                            <img src="~/web/Images/herbs.jpg" alt="">
                        </li>
                    </ul>
                </div>
                <div>
                    <a href="index.html" class="navbar-brand p-0 d-flex align-items-center justify-content-center gap-2"
                       style="color: #4FCB51;">
                        <span class="display-2 fw-bold" style="color: #51A22C;">
                            <img src="~/web/Images/fav.png" class="mt-0 mx-auto d-block" width="100" alt="">
                        </span>
                        <!-- <img src="Images/fav.png" class="" width="70" alt="">--->
                        <span class="pt-2">
                            <h4 class="mb-0 fw-bold" style="font-size: 40px;line-height: 0.7;-color: white;">
                                Makemore
                            </h4>
                            <span style="letter-spacing: 0.8px;font-size: 24px;-color: white;">
                                International
                                LLP
                            </span>
                        </span>
                        <!-- <img src="Images/fav.png" height="80px" alt=""> -->
                        <!-- <img src="Images/newlogo.png" class="img-fluid" width="" alt=""> -->
                    </a>
                </div>
                <div class="top-block mt-5">
                    <ul class="list-unstyled">
                        <li>
                            <img src="~/web/Images/spices.jpg" alt="">
                        </li>
                        <li>
                            <img src="~/web/Images/herbs.jpg" alt="">
                        </li>
                        <li>
                            <img src="~/web/Images/coconutproducts.jpg" alt="">
                        </li>
                        <li>
                            <img src="~/web/Images/spices.jpg" alt="">
                        </li>
                        <li>
                            <img src="~/web/Images/herbs.jpg" alt="">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6 mb-md-0 mb-4">
                <div class="p-md-4 p-3 rounded-2 inquiry-box" style="">
                    <h3 class="mb-3 text-uppercase">Inquiry</h3>
                    <form class="" action="">
                        <div class="mb-3">
                            <label>Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label>Email Id</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label>Subject</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label>Contact Number</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-4">
                            <label>Message</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <div class="mb-3 text-end">
                            <button class="btn btn-theme rounded-pill px-4 text-white border-0 py-2">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>